@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1762069675877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tushu:before {
  content: "\f00a1";
}

.icon-shipin:before {
  content: "\f0162";
}

.icon-wuguan:before {
  content: "\ec5f";
}

